* {
  font-family: sans-serif;
}

a {
  text-decoration: underline;
  transition: opacity .2s;

  &:hover {
    opacity: .5;
  }
}

p {
  color: #1D2C31;
  font-size: 18px;
  line-height: 180%;
  margin-top: 16px;
}

ul {
  margin-top: 16px;
  list-style: disc inside;
}

li {
  color: #1D2C31;
  font-size: 18px;
  line-height: 180%;
}
